@model OnlineShop.ViewModels.Area.Base.Products.ProdcutListDto

<div class="row">
    @*<div class=" card-header">
            <partial name="_Lightgallery" model="@Model.Id" />
        </div>*@
    <div class="col-md-3 col-sm-12 col-sm-12 col-xl-3">
        @Html.LabelFor(x => x.Name) : @Html.DisplayFor(x => x.Name)
    </div>

    <div class="col-md-3 col-sm-12 col-sm-12 col-xl-3">
        @Html.LabelFor(x => x.UserCode) : @Html.DisplayFor(x => x.UserCode)
    </div>

    <div class="col-md-3 col-sm-12 col-sm-12 col-xl-3">
        @Html.LabelFor(x => x.ForeignName) : @Html.DisplayFor(x => x.ForeignName)
    </div>

    <div class="col-md-3 col-sm-12 col-sm-12 col-xl-3">
        @Html.LabelFor(x => x.Description) : @Html.DisplayFor(x => x.Description)
    </div>

    <div class="col-md-3 col-sm-12 col-sm-12 col-xl-3">
        @Html.LabelFor(x => x.ProductGroupName) : @Html.DisplayFor(x => x.ProductGroupName)
    </div>
</div>