@model OnlineShop.ViewModels.Base.CheckBoxListViewModel

<script>
    function Changeicon(id) {
        $(id).toggleClass("fa-chevron-up");
    }

    function onKeyUpCheckboxSearch(e) {
        debugger;
        var keyWord = $(e).val().toLowerCase();
        if (keyWord !== "") {
            $(e).closest(".checkbox-frame").find(".checkBoxRow").removeClass("d-none");
            var checkBoxlbl = $(e).closest(".checkbox-frame").find(".checkBoxRow").find("label");
            $(checkBoxlbl).each(function () {
                var x = $(this).text().toLowerCase();
                var y = $(this).text().toLowerCase().indexOf(keyWord);
                if ($(this).text().toLowerCase().indexOf(keyWord) <= -1) {
                    $(this).closest(".checkBoxRow").addClass("d-none");
                }
            });

        } else {
            $(e).closest(".checkbox-frame").find(".checkBoxRow").removeClass("d-none");
        }
    }
</script>
<div class="CheckBox form-group text-right">
    <div class="card  ">
        <div class=" pr-2 pl-2">
            <div style="cursor:pointer" class="p-3" onclick="Changeicon('#@(Model.CheckBoxName)_Icon')" data-toggle="collapse" data-target="#collapse@(Model.CheckBoxName)">
                <span class=" text-capitalize widget_title p-4 ">
                    <span class=" text-center ">@Model.Name </span>
                    <span id="@(Model.CheckBoxName)_Icon" class="float-left btn pt-1  fa fa-chevron-down"></span>
                </span>
            </div>
            <div id="collapse@(Model.CheckBoxName)" class="collapse checkbox-frame mt-1">
                <div class="input-group ">

                    <input class="form-control" onkeyup="onKeyUpCheckboxSearch(this)" placeholder="جستجوی  ..." required="" type="text">
                    <button type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
                </div>
                <ul class="list_brand  pb-2 checkbox-frame" style="max-height:200px; overflow:auto;">

                    @for(int i = 0;i < Model.Items.Count();i++)
                    {
                        <li>
                            <div class="custome-checkbox checkBoxRow">

                                <input class="form-check-input" name="@(Model.CheckBoxName)" id="@(Model.CheckBoxName)_@i"  value="@Model.Items.ElementAt(i).Value" type="checkbox">
                                <label class="form-check-label" for="@(Model.CheckBoxName)_@i"><span>@Model.Items.ElementAt(i).Text</span></label>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@*<div class="widget   ">
        <h5 class="widget_title " data-toggle="collapse" data-target="#collapse@(Model.CheckBoxName)">برند</h5>
        <div class="collapse" id="collapse@(Model.CheckBoxName)">
            <div class="input-group ">

                <input class="form-control" onkeyup="onKeyUpCheckboxSearch(this)" placeholder="جستجوی  ..." required="" type="text">
                <button type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
            </div>
            <ul class="list_brand ">
                @for(int i = 0;i < Model.Items.Count();i++)
                {
                    <li>
                        <div class="custome-checkbox ">

                            <input class="form-check-input" name="@(Model.CheckBoxName)" id="@(Model.CheckBoxName)_@i" type="checkbox">
                            <label class="form-check-label" for="@(Model.CheckBoxName)_@i"><span>@Model.Items.ElementAt(i).Text</span></label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>*@