@model OnlineShop.ViewModels.Area.Base.ProductSpecification.ProductSpecificationDto
@{
    TempData["ParentId"] = Model.ProductId;
}

<partial name="_CustomValidationSummary" />

<form asp-action="Edit" method="post">
    @Html.HiddenFor(x => x.Id)
    <div class="card _borderTop  _shadow ">
        <div class="card-header ">
            <partial name="_CardHeader" model="CardHeaderTye.Create" />
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomSelect asp-for="ProductId"
                                  asp-expression="ProductId"
                                  asp-optionLabel="@Resource.SelectedOneItem"
                                  asp-currentValues="@Model.ProductDropDown.CurrentValues"
                                  asp-selectList="@Model.ProductDropDown.SelectList"
                                  asp-FormClass="@( Model.ProductId!=new Guid() ?"disabled ":"")"
                                  asp-Class=" select2bs4 ">
                    </CustomSelect>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="SpecificationName"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInputTextArea asp-for="SpecificationValue"></CustomInputTextArea>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="SortOrder"></CustomInput>
                </div>
                <select asp-for="SpecificationType" asp-items="Html.GetEnumSelectList<SpecificationType>()">
                    <option selected="selected" disabled class="select2bs4" value="">@Resource.SelectedOneItem</option>
                </select>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
</form>