@model OnlineShop.ViewModels.Area.Base.ProductDetails.ProductDetailListDto

<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.ProductName) : @Html.DisplayFor(x => x.ProductName)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.ProviderName) : @Html.DisplayFor(x => x.ProviderName)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.ModelName) : @Html.DisplayFor(x => x.ModelName)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.ColorName) : @Html.DisplayFor(x => x.ColorName)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.InActive) : @Html.DisplayFor(x => x.InActive)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.Description) : @Html.DisplayFor(x => x.Description)
    </div>
</div>