@model IEnumerable<Menu>

<style>

    .hoverClass {
        color: #c2c7d0;
    }

    .nav-link {
        border-radius: 0px !important;
    }

    .nav-item {
        margin-bottom: 2px !important;
    }
</style>


@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p data-toggle="tooltip" data-placement="right" title="مدیریت!">
                مدیریت
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a class="nav-link" asp-controller="UserCard" asp-action="Index" asp-area="@AreaConstants.IdentityArea">
                    <i class="fas fa-user nav-icon"></i>
                    <p> برگه‌ی کاربری من</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="UserProfile" asp-action="Index" asp-area="@AreaConstants.IdentityArea">

                    <i class="fas fa-user nav-icon"></i>
                    <p>  تنظیمات کاربری من</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="ChangePassword" asp-action="Index" asp-area="@AreaConstants.IdentityArea">

                    <i class="fas fa-asterisk nav-icon"></i>
                    <p>   تغییر کلمه‌ی عبور</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Login" asp-action="LogOff" asp-area="@AreaConstants.IdentityArea">

                    <i class="fas fa-sign-out-alt nav-icon"></i>
                    <p>خروج</p>
                </a>
            </li>
        </ul>
    </li>
}

@foreach (var menuItem in Model)
{

    <li class="nav-item  border-bottom  mb-4 @( ViewContext.RouteData.Values["controller"].ToString()==menuItem.Controller?"menu-open ":"")">

        <a href="#" class="nav-link   @( ViewContext.RouteData.Values["controller"].ToString()==menuItem.Controller?"bg-blue ":"")     ">

            <i class="nav-icon @menuItem.ControllerIcon"></i>
            <p>
                @menuItem.ControllerName

                <i class="right fas fa-angle-left"></i>
            </p>
        </a>

        <ul class="nav nav-treeview   mb-2   ">
            @foreach (var item in menuItem.menuItems)
            {
                <li class="nav-item   @(  ViewContext.RouteData.Values["controller"].ToString()==menuItem.Controller  && ViewContext.RouteData.Values["action"].ToString()==item.Action? "bg-secondary":"")">
                    <a class="nav-link" asp-area="@menuItem.Area" asp-controller="@menuItem.Controller" asp-action="@item.Action">

                        @{
                            switch (item.ActionIconType)
                            {

                                case OnlineShop.Common.Enum.IconType.UiKit:
                                    <i uk-icon="icon: @item.ActionIcon"></i>
                                    break;

                                case OnlineShop.Common.Enum.IconType.FontAwesome5:
                                    <i class="@item.ActionIcon nav-icon"></i>

                                    break;
                            }

                        }
                        <p> @item.ActionName</p>
                    </a>
                </li>

            }
        </ul>
    </li>
}