@model OnlineShop.ViewModels.Area.Base.ItemSections.ItemSectionListDto

<div class="card _borderTop  _shadow ">
    <div class="card-header ">
        <partial name="_CardHeader" model="CardHeaderTye.Index" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class=" CustomDataTable  table table-bordered  table-hover  table-sm">
                <thead>
                    <tr>
                        <td style="width:15px;">#</td>
                        <td>@Html.DisplayNameFor(r => r.Id)</td>
                        <td>@Html.DisplayNameFor(r => r.SectionName)</td>
                        <td>@Html.DisplayNameFor(r => r.ProductName)</td>
                        <td>@Html.DisplayNameFor(r => r.CurrentPrice)</td>
                        <td>@Html.DisplayNameFor(r => r.OldPrice)</td>
                        <td>@Html.DisplayNameFor(r => r.strFromDate)</td>
                        <td>@Html.DisplayNameFor(r => r.StrToDate)</td>
                        <td>@Html.DisplayNameFor(r => r.InActive)</td>
                        <td style="width:50px;">@Resource.Operation</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    function ReloadTable() {
        debugger;
        $('#dataTable').DataTable().ajax.reload();
    }
       $(function () {

            $('.CustomDataTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": false,
                "language": {
                    "url": "/js/Persian.json",
                },

                "ajax": {
                        url: '@Url.Action("ReadData",ViewContext.RouteData.Values["controller"])',
                        type: "GEt",
                        dataType: "json"
                    },

                "columns": [
                        { "data": null, className: "text-center ", "render": function (data, type, row, meta) {return meta.row + meta.settings._iDisplayStart + 1;}},
                        { "data": "id", className: "text-center ", visible: false },
                        { "data": "sectionName", className: "text-center "},
                        { "data": "productName", className: "text-center "},
                        { "data": "currentPrice", className: "text-center "},
                        { "data": "oldPrice", className: "text-center "},
                        { "data": "strFromDate", className: "text-center "},
                        { "data": "strToDate", className: "text-center "},
                        {
                            "data": "inActive", className: "text-center", type: "checkbox", dataType: Boolean,
                            render: function (data) {
                                if (data == true) {
                                    return '<input  type="checkbox" checked="checked" />'
                                } else {
                                    return '<input  type="checkbox" />'
                                }

                            }
                        },
                        {
                            "data": null, className: "text-center ",
                            "render": function (data, type, row, meta) {
                                return TableOperation(data['id'], '@ViewContext.RouteData.Values["area"]', '@ViewContext.RouteData.Values["controller"]'
                                );
                            }
                        }
                    ]
            });
       });
</script>