@model IEnumerable<Menu>

@if (User.Identity.IsAuthenticated)
{

    <li class="nav-item has-treeview">
        <a href="#" class="nav-link ">

            <p>
                <i class=" right nav-icon fas fa-user"></i>
                مدیریت
            </p>

            <i class="right fas fa-angle-left"></i>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a class="nav-link" asp-controller="UserCard" asp-action="Index" asp-area="@AreaConstants.AdminArea">
                    <i class="fas  fa-circle-o nav-icon"></i>
                    <p>برگه‌ی کاربری من</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="UserProfile" asp-action="Index" asp-area="@AreaConstants.AdminArea" class="nav-link active">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> تنظیمات کاربری من</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="ChangePassword" asp-action="Index" asp-area="@AreaConstants.AdminArea" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p> تغییر کلمه‌ی عبور</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="LogOff" asp-area="@AreaConstants.AdminArea" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>خروج</p>
                </a>
            </li>
        </ul>
    </li>
}

@foreach (var menuItem in Model)
{

    <li class="nav-item    @( ViewContext.RouteData.Values["controller"].ToString()==menuItem.Controller?" menu-open ":" ") ">
        <a href="#" class="nav-link @( ViewContext.RouteData.Values["controller"].ToString()==menuItem.Controller?" active ":" ")">
            @*<i class="nav-icon fas fa-tachometer-alt"></i>*@
            <i class="nav-icon @menuItem.ControllerIcon"></i>
            <p>
                @menuItem.ControllerName
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            @foreach (var item in menuItem.menuItems)
            {
                <li class="nav-item">
                    @*asp-area="@menuItem.Area" asp-controller="@menuItem.Controller" asp-action="@item.Action"*@
                    <a onclick="RefreshRenderBody('@menuItem.Area' ,'@menuItem.Controller','@item.Action')" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@item.ActionName</p>
                    </a>
                </li>
            }
        </ul>
    </li>
}