@model OnlineShop.ViewModels.Area.Base.PartDto

<div class="card">
    <div class="card-header">
        <partial name="_CardHeader" />
    </div>

    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class=" float-right CustomDataTable  table table-bordered table-striped   ">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(r => r.Id)</th>
                        <th>@Html.DisplayNameFor(r => r.Name)</th>
                        <th>@Html.DisplayNameFor(r => r.Title)</th>
                        <th>@Html.DisplayNameFor(r => r.InActive)</th>
                        <th>@Html.DisplayNameFor(r => r.FullInfo)</th>
                        <th>@Resource.Operation</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<script>
        $(function () {

            $('.CustomDataTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "url": "../js/Persian.json",
                },
                 "ajax": {
                        url: '@ViewContext.RouteData.Values["controller"]/ReadData',
                        type: "GEt",
                        dataType: "json",
                    },

                    "columns": [
                        { "data": "id", className: "text-center ", visible: false },
                        { "data": "name", className: "text-center "},
                        { "data": "title", className: "text-center "},
                        {
                            "data": "inActive", className: "text-center", type: "checkbox", dataType: Boolean,
                            render: function (data) {
                                if (data == true) {
                                    return '<input  type="checkbox" checked="checked" />'
                                } else {
                                    return '<input  type="checkbox" />'
                                }

                            }
                        },
                        { "data": "fullInfo", className: "text-center " }

                        ,{
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return TableOperation(data['id'], '@ViewContext.RouteData.Values["area"]', '@ViewContext.RouteData.Values["controller"]'                                   
                                );
                            }
                        },
                    ]
            });
        });
</script>