@model OnlineShop.ViewModels.Area.Base.Provider.ProviderDto
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.Name) : @Html.DisplayFor(x => x.Name)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.Tel) : @Html.DisplayFor(x => x.Tel)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.Addrss) : @Html.DisplayFor(x => x.Addrss)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.ManagerName) : @Html.DisplayFor(x => x.ManagerName)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.Description) : @Html.DisplayFor(x => x.Description)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.Description) : @Html.DisplayFor(x => x.Description)
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
        @Html.LabelFor(x => x.InActive) : @Html.DisplayFor(x => x.InActive)
    </div>
</div>