<<<<<<< HEAD
﻿@using OnlineShop.Web.Areas.Admin
=======
﻿@using OnlineShop.Web.Areas.Identity
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2

<li class="has-children active">
    <a href="#">
        منوی مدیریتی
    </a>
    <ul class="dropdown">
        <li>
<<<<<<< HEAD
            <a class="text-right" asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.AdminArea">
=======
            <a class="text-right" asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea">
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2
                مدیریت کاربران
                <i class="fas fa-user "></i>
            </a>
        </li>
        <li>
<<<<<<< HEAD
            <a class="text-right" asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.AdminArea">
=======
            <a class="text-right" asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea">
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2
                مدیریت نقش‌ سیستم
                <i class="fas fa-object-group "></i>
            </a>
        </li>
        <li>
<<<<<<< HEAD
            <a class="text-right" asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.Area.AdminArea">
=======
            <a class="text-right" asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.Area.IdentityArea">
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2
                گزارش رخ‌دادهای سیستم
                <i class="fas fa-bell "></i>
            </a>
        </li>
    </ul>
</li>
@*<div class="navbar-nav">
        <div class="dropdown">
            <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown"
               id="adminDropdown" aria-haspopup="true"
               aria-expanded="false" href="#">
                منوی مدیریتی
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                <a class="dropdown-item" asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.AdminArea">
                    <i class="fas fa-user mr-1" aria-hidden="true"></i>
                    مدیریت کاربران
                </a>
                <a class="dropdown-item" asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.AdminArea">
                    <i class="fas fa-object-group mr-1" aria-hidden="true"></i>
                    مدیریت نقش‌های سیستم
                </a>
                <a class="dropdown-item" asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.Area.AdminArea">
                    <i class="fas fa-bell mr-1" aria-hidden="true"></i>
                    گزارش رخ‌دادهای سیستم
                </a>
            </div>
        </div>
        <div class="uk-navbar-right">

            <a class="uk-navbar-toggle " href="#" data-uk-toggle="target: #offcanvas-nav-primary">
                <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left"></span>
            </a>
        </div>
    </div>*@
@*<a href="#"> منوی مدیریتی</a>
    <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
<<<<<<< HEAD
            <li><a asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.AdminArea"><i class="fas fa-user mr-1" aria-hidden="true"></i>مدیریت کاربران</a></li>
            <li><a asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.AdminArea">  <i class="fas fa-object-group mr-1" aria-hidden="true"></i> مدیریت نقش‌های سیستم</a></li>
            <li><a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.Area.AdminArea">  <i class="fas fa-bell mr-1" aria-hidden="true"></i>گزارش رخ‌دادهای سیستم</a></li>
=======
            <li><a asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea"><i class="fas fa-user mr-1" aria-hidden="true"></i>مدیریت کاربران</a></li>
            <li><a asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea">  <i class="fas fa-object-group mr-1" aria-hidden="true"></i> مدیریت نقش‌های سیستم</a></li>
            <li><a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.Area.IdentityArea">  <i class="fas fa-bell mr-1" aria-hidden="true"></i>گزارش رخ‌دادهای سیستم</a></li>
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2
        </ul>
    </div>*@