@model IEnumerable<OnlineShop.ViewModels.Area.CustomerCardItem>
@using OnlineShop.Common.Utilities

<a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">@Model.Count()</span></a>

<div class="cart_box dropdown-menu dropdown-menu-right">

    @if(Model.Any())
    {
        <ul class="cart_list">
            @foreach(var item in Model)
            {
                <li>
                    @*<a href="#" class="item_remove"><i class="ion-close"></i></a>*@
                    @Html.AjaxActionLink("","RemovePreOrder","Card",
                   new { productId = item.productId },
                   new AjaxOptions() { UpdateTargetId = "CustomerCardItems" },
                   new { @class = "item_remove ion-close" })
                    <a href="#"><img src="/layout/assets/images/cart_thamb1.jpg" alt="cart_thumb1">@item.ProductName</a>
                    <span class="cart_quantity">@item.Number عدد<span class="cart_amount">   @item.Price.ToNumeric() <span class="price_symbole">تومان</span></span></span>
                </li>
            }

            @*<li>
                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                    <a href="#"><img src="/layout/assets/images/cart_thamb2.jpg" alt="cart_thumb2">لباس زنانه</a>
                    <span class="cart_quantity"> 1عدد  81000<span class="cart_amount"> <span class="price_symbole">تومان</span></span></span>
                </li>*@
        </ul>
        <div class="cart_footer">
            <p class="cart_total"><strong>جمع:</strong> @Model.Sum(s => (s.Number * s.Price)).ToNumeric().ToPersianNumbers()<span class="cart_price">  <span class="price_symbole">تومان</span></span></p>
            <p class="cart_buttons">
                <a asp-controller="@nameof(OnlineShop.Web.Controllers.CardController).Replace("Controller","")"
                   asp-action="@nameof(OnlineShop.Web.Controllers.CardController.DisplayCard)"
                   class="btn btn-fill-line view-cart">سبد خرید</a>
                <a href="#" class="btn btn-fill-out checkout">بررسی</a>
            </p>
        </div>
    }
    else
    {
        <ul class="cart_list">
            <li><p class="text-white text-center">سبد خرید خالیه!</p></li>
        </ul>
    }
</div>