@inject OnlineShop.Services.Contracts.Area.Base.IAttachmentService AttachmentService

@model Guid

@{
    var photos = AttachmentService.GetPhotoUrl(Model);
}
@{
    @*<img class="card-img-top" src="@photos" asp-append-version="true" alt="slide">*@
    <a class="" asp-action="index" asp-controller="Product" asp-route-id="@Model">
        <img src="@photos" alt="Image" class="img-fluid" asp-append-version="true">
    </a>
    if(!photos.Any())
    {
        <p>هیچ عکسی وجود ندارد</p>
    }
    else
    {
        <div class="product-pic-zoom">
            <img class="product-big-img" src="@photos.FirstOrDefault()" alt="">
            <div class="zoom-icon">
                <i class="fa fa-search-plus"></i>
            </div>
        </div>
        <div class="product-thumbs">
            <div class="product-thumbs-track ps-slider owl-carousel">
                @{

                    for(int i = 0;i < photos.Count;i++)
                    {
                        <div class="pt @( i==0? "active" :""  )" data-imgbigurl="@photos[i]">
                            <img src="@photos[i]" alt="">
                        </div>
                    }
                    @*foreach(var item in photos)
                        {
                            <div class="pt active" data-imgbigurl="@item">
                                <img src="@item" alt="">
                            </div>
                        }*@
                }
            </div>
        </div>
    }
}

@*<div class="product-pic-zoom">
        <img class="product-big-img" src="img/product-single/product-1.jpg" alt="">
        <div class="zoom-icon">
            <i class="fa fa-search-plus"></i>
        </div>
    </div>
    <div class="product-thumbs">
        <div class="product-thumbs-track ps-slider owl-carousel">
            <div class="pt active" data-imgbigurl="img/product-single/product-1.jpg">
                <img src="img/product-single/product-1.jpg" alt="">
            </div>
            <div class="pt" data-imgbigurl="img/product-single/product-2.jpg">
                <img src="img/product-single/product-2.jpg" alt="">
            </div>
            <div class="pt" data-imgbigurl="img/product-single/product-3.jpg">
                <img src="img/product-single/product-3.jpg" alt="">
            </div>
            <div class="pt" data-imgbigurl="img/product-single/product-3.jpg">
                <img src="img/product-single/product-3.jpg" alt="">
            </div>
        </div>
    </div>*@