@inject OnlineShop.Services.Contracts.Area.Base.IAttachmentService AttachmentService

@model Guid

@{
    var photos = AttachmentService.GetPhotoUrl(Model);
}
@{
    @*<img class="card-img-top" src="@photos" asp-append-version="true" alt="slide">*@
    @*<a class="" asp-action="index" asp-controller="Product" asp-route-id="@Model">
            <img src="@photos" alt="Image" class="img-fluid" asp-append-version="true">
        </a>*@
    if(!photos.Any())
    {
        <p>هیچ عکسی وجود ندارد</p>
    }
    else
    {
        <div class="product-pic-zoom">
            <img style="width:100% ;height:500px" src="@photos.FirstOrDefault()" alt="">
            <div class="zoom-icon">
                <i class="fa fa-search-plus"></i>
            </div>
        </div>
        <div class="product-thumbs">
            <div class="product-thumbs-track ps-slider owl-carousel">
                <div class="main-carousel">
                    @{
                        for(int i = 0;i < photos.Count;i++)
                        {
                            <div class="pt cell @( i==0? "active" :""  )" data-imgbigurl="@photos[i]">
                                <img src="@photos[i]" class="img-fluid" style="width:100% ;height:200px" alt="">
                            </div>
                        }
                    }
                </div>
                <div class="carousel-nav">
                    @{
                        for(int i = 0;i < photos.Count;i++)
                        {
                            <div class="pt cell @( i==0? "active" :""  )" data-imgbigurl="@photos[i]">
                                <img src="@photos[i]" class="img-fluid" style="width:100% ;height:200px" alt="">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}