@model OnlineShop.ViewModels.Base.IconViewModel



@{
    switch (Model.Type)
    {
        case OnlineShop.Common.Enum.IconType.UiKit:
            <a href="#"><i uk-icon="icon: @Model.Icon"></i> <span>@Model.Name</span> </a>

    break;

        case OnlineShop.Common.Enum.IconType.BootStrap:

            <span class="uk-modal-title">  <span class="@Model.Icon"></span>@Model.Name </span>
            break;

        case OnlineShop.Common.Enum.IconType.FontAwesome4:

            <span class="uk-modal-title"><spna class="@Model.Icon"></spna>@Model.Name </span>

            break;

        case OnlineShop.Common.Enum.IconType.FontAwesome5:

            <span class="uk-modal-title"><spna class="@Model.Icon"></spna>@Model.Name </span>

            break;
    }

}


