@inject OnlineShop.Services.Contracts.Area.Base.IAttachmentService AttachmentService

@model Guid

@{
    var photos = AttachmentService.GetPhotoUrl(Model);
}

<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">

    <ol class="carousel-indicators">
        @{
            for (int index = 0; index < photos.Count; index++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@index" class=" @(index==0?"active":"" )"></li>
            }
        }
    </ol>

    <div class="carousel-inner lightgallery">
        @{
            for (int index = 0; index < photos.Count; index++)
            {
                <div data-src="@photos[index]" class="carousel-item @(index==0?"active":"" )">
                    <a href="#">  <img class=" d-block w-100" src="@photos[index]" asp-append-version="true" alt="slide"> </a>
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-custom-icon" aria-hidden="true">
            <i class="fas fa-chevron-left text-yellow"></i>
        </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-custom-icon" aria-hidden="true">
            <i class="fas fa-chevron-right text-yellow"></i>
        </span>
        <span class="sr-only">Next</span>
    </a>
</div>

