@model OnlineShop.ViewModels.Area.Base.ProductDetails.ProductDetailListDto

@{
    TempData["ParentId"] = Model.ProductId;
}

<div class="card">
    <div class="card-header">
        <partial name="_CardHeader" model="OnlineShop.Common.Enum.CardHeaderTye.Index" />
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class=" CustomDataTable  table table-bordered  table-hover  table-sm">
                <thead>
                    <tr>
                        <td style="width:15px;">#</td>
                        <td>@Html.DisplayNameFor(r => r.Id)</td>
                        <td>@Html.DisplayNameFor(r => r.ProductName)</td>
                        <td>@Html.DisplayNameFor(r => r.ProviderName)</td>
                        <td>@Html.DisplayNameFor(r => r.ModelName)</td>
                        <td>@Html.DisplayNameFor(r => r.ColorName)</td>
                        <td>@Html.DisplayNameFor(r => r.InActive)</td>
                        <td style="width:50px;">@Resource.Operation</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<script>

       $(function () {

            $('.CustomDataTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": false,
                "language": {
                    "url": "/js/Persian.json",
                },

                "ajax": {
                        url: '/Identity/@ViewContext.RouteData.Values["controller"]/ReadData',
                        type: "GEt",
                        data: { productId:'@Model.ProductId' },
                        dataType: "json",
                    },

                "columns": [
                        { "data": null, className: "text-center ", "render": function (data, type, row, meta) {return meta.row + meta.settings._iDisplayStart + 1;}},
                        { "data": "id", className: "text-center ", visible: false },
                        { "data": "productName", className: "text-center "},
                        { "data": "providerName", className: "text-center "},
                        { "data": "modelName", className: "text-center "},
                        { "data": "colorName", className: "text-center " },
                        {
                            "data": "inActive", className: "text-center", type: "checkbox", dataType: Boolean,
                            render: function (data) {
                                if (data == true) {
                                    return '<input  type="checkbox" checked="checked" />'
                                } else {
                                    return '<input  type="checkbox" />'
                                }

                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return TableOperation(data['id'], '@ViewContext.RouteData.Values["area"]', '@ViewContext.RouteData.Values["controller"]'
                                );
                            }
                        }
                    ]
            });
       });
</script>