@model OnlineShop.ViewModels.Area.Base.ProductDetails.ProductDetailDto

<partial name="_CustomValidationSummary" />
@{
    TempData["ParentId"] = Model.ProductId;
}

<form asp-action="Create" method="post">
    <div class="card card-outline  card-lightblue">

        <div class="card-header">
            <partial name="_CardHeader" model="OnlineShop.Common.Enum.CardHeaderTye.Create" />
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomSelect asp-for="ProductId"
                                  asp-expression="ProductId"
                                  asp-optionLabel="@Resource.SelectedOneItem"
                                  asp-currentValues="@Model.ProductDropDown.CurrentValues"
                                  asp-selectList="@Model.ProductDropDown.SelectList"
                                  asp-FormClass="@( Model.ProductId!=new Guid() ?"disabled ":"")"
                                  asp-Class=" select2bs4 ">
                    </CustomSelect>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomSelect asp-for="ProviderId"
                                  asp-expression="ProviderId"
                                  asp-optionLabel="@Resource.SelectedOneItem"
                                  asp-currentValues="@Model.ProviderDropDown.CurrentValues"
                                  asp-selectList="@Model.ProviderDropDown.SelectList"
                                  asp-Class=" select2bs4 ">
                    </CustomSelect>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomSelect asp-for="ColorId"
                                  asp-expression="ColorId"
                                  asp-optionLabel="@Resource.SelectedOneItem"
                                  asp-currentValues="@Model.ColorDropDown.CurrentValues"
                                  asp-selectList="@Model.ColorDropDown.SelectList"
                                  asp-Class=" select2bs4 ">
                    </CustomSelect>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomSelect asp-for="ModelId"
                                  asp-expression="ModelId"
                                  asp-optionLabel="@Resource.SelectedOneItem"
                                  asp-currentValues="@Model.ModelDropDown.CurrentValues"
                                  asp-selectList="@Model.ModelDropDown.SelectList"
                                  asp-Class=" select2bs4 ">
                    </CustomSelect>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomCheckBox asp-for="InActive"
                                    asp-IsChecked="Model.InActive"
                                    asp-Class="CheckBox">
                    </CustomCheckBox>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">

                    <CustomInput asp-for="Description"></CustomInput>
                </div>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
</form>