@model OnlineShop.ViewModels.Area.Base.ProductTag.ProductTagsDto
@using OnlineShop.Resource
<partial name="_CustomValidationSummary" />
@{
    TempData["ParentId"] = Model.ProductId;
}
<script>

    function OnSuccess() {
        toastr.error(@Resource.AddSuccessfully);
    }
</script>
@using(Html.AjaxBeginForm("Create",new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "OnSuccess"
}))
{
    <div class="card _borderTop  _shadow ">
        <div class="card-header ">
            <partial name="_CardHeader" model="CardHeaderTye.Create" />
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomSelect asp-for="ProductId"
                                  asp-expression="ProductId"
                                  asp-optionLabel="@Resource.SelectedOneItem"
                                  asp-currentValues="@Model.ProductDropDown.CurrentValues"
                                  asp-selectList="@Model.ProductDropDown.SelectList"
                                  asp-FormClass="@( Model.ProductId != new Guid() ? "disabled " : "")"
                                  asp-Class=" select2bs4 ">
                    </CustomSelect>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="Name"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomCheckBox asp-for="InActive"
                                    asp-IsChecked="Model.InActive"
                                    asp-Class="CheckBox">
                    </CustomCheckBox>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="Description"></CustomInput>
                </div>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
}